* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
 }

 .profile {border: 2px solid #f1f1f1;
  border-color: #4CAF50;
  height: 600px;
  width: 400px;
  margin: 0 auto;
  transition: width 0.5s;

  }
 div.sticky {
    margin-left: 90px;
    border: 10px solid #f1f1f1;  
  }
  
   button {
          background-color: #ffffff;
          color: white;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 90%;
          height: 40px;
          margin-left: 60px;
  }
 .text {
          text-align: justify;
          color: black;
          margin: 15px 0 10px 0;
          font-weight: bold;
        }
 
